[user]
	name = Wen-Wei Tseng
	email = sosiristseng@gmail.com
[init]
	defaultBranch = main
[fetch]
	prune = true
[pull]
	rebase = true
[rebase]
	autosquash = true
	autoStash = true
[help]
	autocorrect = 10
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
